<div class="modal-header">
    <h5>Import Target List</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
        <span>
            Importing...
            <!--            <sui-progress [value]="37"></sui-progress>-->
        </span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="submit" (click)="activeModal.close('Import')">
        <i class="fas fa-file-import has-text"></i> Import
    </button>
    <button class="btn btn-secondary btn-sm" (click)="activeModal.dismiss('Cancel')">
        Cancel
    </button>
</div>
