<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm"
                        data-tooltip="Explanation of Primary Action goes here"
                        data-position="bottom left">
                    <i class="fas fa-file-upload has-text"></i>
                    Primary action
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fas fa-file-download has-text"></i>
                    Secondary action
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fas fa-cogs has-text"></i>
                    Another secondary action
                </button>
                <button ngbDropdown class="btn btn-secondary btn-sm tab-head">
                    <a ngbDropdownToggle>
                        <i class="fas fa-pencil has-text"></i> Edit
                    </a>
                    <div ngbDropdownMenu>
                        <a (click)="msg('Copy')" ngbDropdownItem>
                            <i class="fas fa-copy has-text"></i> Copy
                        </a>

                        <a (click)="msg('Paste')" ngbDropdownItem>
                            <i class="fas fa-paste has-text"></i> Paste
                        </a>

                        <a (click)="msg('Cut')" ngbDropdownItem>
                            <i class="fas fa-cut has-text"></i> Cut
                        </a>
                    </div>
                </button>
            </div>
        </div>

        <div class="col">
            <button class="btn btn-primary btn-sm" (click)="import()">
                <i class="fas fa-file-import has-text"></i>
                Import
            </button>
        </div>
    </div>
</div>

<ng-template let-context let-modal="modal" #modalDialog>

    <div class="header">
        <i class="upload icon"></i>
        Import Target List
    </div>
    <div class="content">
        <span>
            Importing...
            <!--            <sui-progress [value]="37"></sui-progress>-->
        </span>
    </div>
    <div class="actions">
        <button class="ui blue basic button" (click)="modal.deny()">
            Cancel
        </button>
        <button class="ui blue button" [disabled]="true"><i class="upload icon"></i>
            Import
        </button>
    </div>

</ng-template>
