<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm"
                        data-tooltip="Explanation of Primary Action goes here"
                        data-position="bottom left">
                    <i class="fas fa-file-upload has-text"></i>
                    Primary action
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fas fa-file-download has-text"></i>
                    Secondary action
                </button>
                <button type="button" class="btn btn-secondary btn-sm">
                    <i class="fas fa-cogs has-text"></i>
                    Another secondary action
                </button>
                <button ngbDropdown class="btn btn-secondary btn-sm tab-head">
                    <a ngbDropdownToggle>
                        <i class="fas fa-pencil has-text"></i> Edit
                    </a>
                    <div ngbDropdownMenu>
                        <a (click)="msg('Copy')" ngbDropdownItem>
                            <i class="fas fa-copy has-text"></i> Copy
                        </a>

                        <a (click)="msg('Paste')" ngbDropdownItem>
                            <i class="fas fa-paste has-text"></i> Paste
                        </a>

                        <a (click)="msg('Cut')" ngbDropdownItem>
                            <i class="fas fa-cut has-text"></i> Cut
                        </a>
                    </div>
                </button>
            </div>
        </div>

        <div class="col">
            <button class="btn btn-primary btn-sm" (click)="openImportModal()">
                <i class="fas fa-file-import has-text"></i>
                Import
            </button>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
