<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm"
                        ngbPopover="Explanation of primary action goes here"
                        triggers="mouseenter:mouseleave"
                        placement="right"
                        popoverClass="tooltip-default right">
                    <i class="fas fa-file-upload has-text"></i>
                    Primary action
                </button>
                <button type="button" class="btn btn-secondary btn-sm"
                        ngbPopover="Explanation of secondary action goes here"
                        triggers="mouseenter:mouseleave"
                        placement="bottom"
                        popoverClass="tooltip-default bottom">
                    <i class="fas fa-file-download has-text"></i>
                    Secondary action
                </button>
                <button type="button" class="btn btn-secondary btn-sm"
                        ngbPopover="Explanation of... you get the point"
                        triggers="mouseenter:mouseleave"
                        placement="bottom"
                        popoverClass="tooltip-default bottom">
                    <i class="fas fa-cogs has-text"></i>
                    Another secondary action
                </button>
                <button ngbDropdown class="btn btn-secondary btn-sm tab-head">
                    <a ngbDropdownToggle>
                        <i class="fas fa-pencil has-text"></i> Edit
                    </a>
                    <div ngbDropdownMenu>
                        <a (click)="msg('Copy')" ngbDropdownItem>
                            <i class="fas fa-copy has-text"></i> Copy (Ctrl-C)
                        </a>

                        <a (click)="msg('Paste')" ngbDropdownItem>
                            <i class="fas fa-paste has-text"></i> Paste (Ctrl-V)
                        </a>

                        <a (click)="msg('Cut')" ngbDropdownItem>
                            <i class="fas fa-cut has-text"></i> Cut (Ctrl-X)
                        </a>
                    </div>
                </button>
            </div>
        </div>

        <div class="col">
            <button class="btn btn-primary btn-sm" (click)="openImportModal()">
                <i class="fas fa-file-import has-text"></i>
                Import
            </button>
        </div>
    </div>
</div>

<!-- Display a warning if user canceled import operation -->
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            &nbsp; <!-- quick and dirty, some vertical spacing -->
            <ngb-alert *ngIf="showAlert" type="warning" (close)="closeAlert()">
                <i class="fas fa-exclamation has-text"></i>
                {{ importCanceledAlertMessage }}
            </ngb-alert>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
