<div class="modal-header">
    Search criteria
    <button class="btn close" type="button" (click)="activeModal.dismiss()">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <form>

        <!-- Query parameters -->
        <div>
        <div class="row">

            <!-- Left column -->
            <div class="col">

                <!-- Query intervals pulldown menu -->
                <div class="form-group field">
                    <label>Query interval</label>
                    <div class="input-group">
                        <div ngbDropdown>
                            <button ngbDropdownToggle class="btn btn-block"
                                    [ngClass]="{'text-muted': selectedInterval == null}">
                                {{selectedInterval == null ? "Select query interval..." : selectedInterval.name}}
                            </button>
                            <div ngbDropdownMenu>
                                <span *ngFor="let interval of intervals">
                                    <button ngbDropdownItem (click)="onSelectInterval(interval)">{{interval.name}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Query interval start -->
                <div *ngIf="enableIntervalStart" class="form-group field">
                    <label>Start datetime</label>
                    <div class="input-group">
                        <input ngbDatepicker
                               class="form-control" placeholder="yyyy-mm-dd"
                               name="startDP"
                               [(ngModel)]="queryIntervalStartDate"
                               (ngModelChange)="onStartDateChange()"
                               #startDP="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="startDP.toggle()" type="button">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                        <ngb-timepicker name="startTP"
                                        [(ngModel)]="queryIntervalStartTime"
                                        (ngModelChange)="onStartTimeChange()"
                                        [spinners]="queryIntervalStartSpinners"></ngb-timepicker>
                    </div>

                    <p>{{queryIntervalStartDate.toUTCString()}}</p>
                </div>
            </div>

            <!-- Separator for the two columns -->
            <div class="col-sm-1"></div>

            <!-- Right column -->
            <div class="col">

                <!-- Max size of result set -->
                <div class="form-group field">
                    <label>Max entries</label>
                    <div class="input-group">
                        <input class="form-control"
                               [ngClass]="{ 'alert-danger' : !isValidMaxEntries }"
                               placeholder="Max 1000"
                               name="maxEntries"
                               [(ngModel)]="maxEntries"
                               (change)="onMaxEntriesChange()">
                        &nbsp;&nbsp;
                        <!--                        <label *ngIf="!isValidMaxEntries" class="alert alert-danger" type="danger">-->
                        <!--                            Invalid value, should be 1-1000 <i class="fas fa-exclamation-triangle has-text"></i>-->
                        <!--                        </label>-->
                        <label *ngIf="!isValidMaxEntries" class="alert alert-danger" type="danger">
                            <i class="fas fa-exclamation-triangle" style="color:red"
                               ngbPopover="Invalid value, should be 1-1000"
                               triggers="mouseenter:mouseleave"
                               placement="top"
                               popoverClass="tooltip-error top"></i>
                        </label>
                    </div>
                </div>


                <!-- Query interval end -->
                <div *ngIf="enableIntervalEnd" class="form-group field">
                    <label>End datetime</label>
                    <div class="input-group">
                        <input ngbDatepicker
                               class="form-control" placeholder="yyyy-mm-dd"
                               name="endDP"
                               [(ngModel)]="queryIntervalEndDate"
                               (ngModelChange)="onEndDateChange()"
                               #endDP="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="endDP.toggle()" type="button">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                        <ngb-timepicker name="endTP"
                                        [(ngModel)]="queryIntervalEndTime"
                                        (ngModelChange)="onEndTimeChange()"
                                        [spinners]="queryIntervalEndSpinners"></ngb-timepicker>
                    </div>
                    <p>{{queryIntervalEndDate.toUTCString()}}</p>
                </div>
            </div>
        </div>
        </div>

        <!-- General information -->
        <div>

            <!-- 4x3 table of entry types -->
            <div class="field">
                <label>Types</label>
                <div class="container-fluid">

                    <!-- Entry types row 1 -->
                    <div class="row">
                        <div class="col col-md-2 anten">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qManCal" name="qManImg"> ANTEN
                            </label>
                        </div>
                        <div class="col col-md-2 aog">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qManImg" name="qManImg"> AOG
                            </label>
                        </div>
                        <div class="col col-md-2 array">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qWeblog" name="weblog"> ARRAY
                            </label>
                        </div>
                    </div>

                    <!-- Entry types row 2 -->
                    <div class="row">
                        <div class="col col-md-2 cmdln">
                            <label class="checkbox ">
                                <input type="checkbox" [(ngModel)]="qManCal" name="qManImg"> CMDLN
                            </label>
                        </div>
                        <div class="col col-md-2 down">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qManImg" name="qManImg"> DOWN
                            </label>
                        </div>
                        <div class="col col-md-2 engin">
                            <label class="checkbox ">
                                <input type="checkbox" [(ngModel)]="qWeblog" name="weblog"> ENGIN
                            </label>
                        </div>
                    </div>

                    <!-- Entry types row 3 -->
                    <div class="row">
                        <div class="col col-md-2 entry">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qManCal" name="qManImg"> ENTRY
                            </label>
                        </div>
                        <div class="col col-md-2 mmex">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qManImg" name="qManImg"> MMEX
                            </label>
                        </div>
                        <div class="col col-md-2 sbex">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qWeblog" name="weblog"> SBEX
                            </label>
                        </div>
                    </div>

                    <!-- Entry types row 4 -->
                    <div class="row">
                        <div class="col col-md-2 shift">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qManCal" name="qManImg"> SHIFT
                            </label>
                        </div>
                        <div class="col col-md-2 weath">
                            <label class="checkbox">
                                <input type="checkbox" [(ngModel)]="qManImg" name="qManImg"> WEATH
                            </label>
                        </div>
                        <div>
                            <!-- EMPTY -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    qManCal={{qManCal}}, qManImg={{qManImg}}, qWeblog={{qWeblog}}, qQA2App={{qQA2App}}-->
        <div>

            <button type="button" class="btn btn-primary"
                    (click)="search()" tabindex="0">
                <i class="fas fa-search has-text"></i>
                Search
            </button>

            <!--
                Reset buttons are discouraged, see for instance item 48 at
                https://www.ventureharbour.com/form-design-best-practices/

            <button type="button" class="btn btn-secondary"
                    (click)="reset()">
              <i class="delete icon"></i>
              Reset
            </button>
            -->
        </div>
    </form>
</div>
