<div class="modal-header">
    Data Reducer search
    <button class="btn close" type="button" (click)="activeModal.dismiss()">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group field">

            <label>Name or ID</label>
            <div class="input-group">
                <input class="form-control border-right-0" type="search" placeholder="Name/ID..."
                       name="nameId" [(ngModel)]="nameId">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                </span>
            </div>
            <small class="form-text text-muted">Optional help text — or you can use a tooltip instead</small>
        </div>

        <div class="form-group field">
            <label>ARC</label>
            <div ngbRadioGroup name="arcsRadioGroup" [(ngModel)]="selectedArc">
                <span *ngFor="let arc of arcs">
                    <label ngbButtonLabel>
                        <input ngbButton type="radio" [value]="arc.name" (click)="onSelectArc(arc.name)"> {{arc.name}}
                    </label>
                </span>
            </div>
        </div>

        <div class="form-group field">
            <label>Node</label>
            <div ngbDropdown>
                <button ngbDropdownToggle class="btn btn-block" [disabled]="selectedNodes.length == 0"
                        [ngClass]="{'text-muted': selectedNode == null}">
                    {{shownInNodePulldown}}
                </button>
                <div ngbDropdownMenu>
                    <span *ngFor="let node of selectedNodes">
                    <button ngbDropdownItem (click)="onSelectArcNode(node)">{{node}}</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group field">
            <label>Qualifications</label>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="qManCal" name="qManImg"> Manual Calibration
                        </label>
                    </div>
                    <div class="col">
                        <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="qManImg" name="qManImg"> Manual Imaging
                        </label>
                    </div>
                    <div class="col">
                        <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="qWeblog" name="weblog"> WebLog Review
                        </label>
                    </div>
                    <div class="col">
                        <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="qQA2App" name="qa2"> QA2 Approval
                        </label>
                    </div>
                </div>
            </div>
        </div>

    <!--    qManCal={{qManCal}}, qManImg={{qManImg}}, qWeblog={{qWeblog}}, qQA2App={{qQA2App}}-->
        <div class="form-buttons">
            <button type="button" class="btn btn-primary"
                    (click)="search()" tabindex="0">
                <i class="fas fa-search has-text"></i>
                Search
            </button>
        </div>
    </form>
</div>
