/*
 * Application-wide style definitions, based on Bootstrap
 * They implement the ALMA Web UI Guidelines
 */
@import "~bootstrap/dist/css/bootstrap.css";

/* Make Lato 14px the default font */

body {
  font-family: Lato, sans-serif;
  font-size: 14px;
}

/* Buttons */
button {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

/* Buttons: primary and secondary buttons should be ALMA blue */

.btn.btn-primary {
  background: #004f87;
}
.btn.btn-primary:hover {
  background: #103073;
}
.btn.btn-secondary {
    border-color: #004f87;
    background: white;
    color: #004f87;
}
.btn.btn-danger.btn-secondary {
    border-color: #dc3545;
    background: white;
    color: #dc3545;
}

/* Buttons: no ugly button shadow */

.btn:focus, .btn.focus, .btn:active {
  box-shadow: none;
}

/* Buttons: add some spacing between them when they are in a row */
.button-row .btn {
    margin-right: 6px;
}
.button-row .btn:last-of-type {
    margin-right: 0;
}

/* No padding and no margin for all containers */
.container-fluid, .container, .row, .col {
  padding: 0;
  margin: 0;
}

/* "ALMA blue" definition */

.almacolor {
    background: linear-gradient(to bottom, #103073 0%, #004f87 100%);
}

/* Add some space between image and text when icons are used together with text labels  */
i.has-text {
    padding: 0 2px 0 2px;
}
i.has-text-left {
    padding: 0 0 0 2px;
}
i.has-text-right {
    padding: 0 2px 0 0;
}

/* Radio buttons */

label.btn {
  padding: 0 16px 0 0;
}

/* Checkboxes */

label.checkbox {
  padding: 0 16px 0 0;
}

/* Dropdown */

.dropdown-item {
  font-size: 14px;
}

form .dropdown-toggle {
  text-align: left;
  border: 1px solid #ced4da;
}

/* Tooltips and popovers */

.bs-tooltip-top .arrow::before {
  border-top-color: #e1e1e1;
}

.bs-tooltip-right .arrow::before {
  border-right-color: #e1e1e1;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #e1e1e1;
}

.bs-tooltip-left .arrow::before {
  border-left-color: #e1e1e1;
}

.tooltip-inner, arrow {
  background-color: #e1e1e1;
  color: #000000;
}

.popover.tooltip-error {
    border-color: #db2828;
}
.popover.tooltip-error .popover-body {
    color: #db2828;
}
.popover.tooltip-error.left .arrow::before {
    border-left-color: #db2828;
}
.popover.tooltip-error.top .arrow::before {
    border-top-color: #db2828;
}
.popover.tooltip-error.right .arrow::before {
    border-right-color: #db2828;
}
.popover.tooltip-error.bottom .arrow::before {
    border-bottom-color: #db2828;
}
.popover.tooltip-error.right .arrow::before {
    border-right-color: #db2828;
}

.popover.tooltip-default {
    border-color: gray;
}
.popover.tooltip-default .popover-body {
    color: black;
}
.popover.tooltip-default.left .arrow::before {
    border-left-color: gray;
}
.popover.tooltip-default.top .arrow::before {
    border-top-color: gray;
}
.popover.tooltip-default.right .arrow::before {
    border-right-color: gray;
}
.popover.tooltip-default.bottom .arrow::before {
    border-bottom-color: gray;
}
.popover.tooltip-default.right .arrow::before {
    border-right-color: gray;
}

/* Forms and modals */

.modal-header {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 12px;
  border-bottom: 1px solid rgba(34,36,38,.15)
}

.dirty {
    font-size: 10px;
    color: #db2828;
    padding-top: 12px;
    padding-left: 6px
}

form div.field > label:first-child {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-buttons {
    float: right;
    padding: 0 0 12px 0;
}

/* Tables */

.table td {
  border-top: 0;
}

.table-compact td { /* use this class for a more compact-looking table (less whitespace) */
  padding: 0;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

.table thead tr:first-child>th:first-child {
    border-left: 1px solid #dee2e6;
}

.table thead tr:first-child>th:last-child {
    border-right: 1px solid #dee2e6;
}

/* Alerts */

.alert {
    padding: 6px;
    margin: 0;
}

.alert-primary {
    color: white;
    border-color: #004f87;
    background-color: #004f87;
}

.alert-secondary, .alert-info {
    color: #004f87;
    border-color: #004f87;
    background-color: transparent;
}

.alert-success {
    color: #185927;
    border-color: #185927;
    background-color: transparent;
}

.alert-danger {
    color: #db2828;
    border-color: #db2828;
    background-color: transparent;
}

.alert-warning {
    color: #856404;
    border-color: #856404;
    background-color: transparent;
}

.alert-light {
    color: #818182;
    border-color: #818182;
    background-color: transparent;
}

.alert-dark {
    color: #212529;
    border-color: #212529;
    background-color: transparent;
}

.alert-dismissible .close {
    padding: 6px;
}

/* Accordion */

.accordion > .card .card-header {
    padding: 0;
    background-color: transparent;
}
.card-header .btn.btn-link {
    font-size: small;
    color: black;
}
