/*
  Application-wide style definitions, based on Bootstrap
  Implement the ALMA Web UI Guidelines
*/

@import "~bootstrap/dist/css/bootstrap.css";

/* Make Lato 14px the default font, everywhere */
body {
  font-family: Lato, sans-serif;
  font-size: 14px;
}

button {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.dropdown-item {
  font-size: 14px;
}

/* Primary buttons should be ALMA blue */
.btn.btn-primary {
  background: #25386f;
  background: linear-gradient(to bottom, #25386f 0%, #0f4f87 100%);
}
.btn.btn-primary:hover {
  /* remove background when hovering */
  background: #0f4f87;
}

/* No ugly button shadow */
.btn:focus, .btn.focus, .btn:active {
  box-shadow: none;
}

/* No padding and no margin for all containers */
.container-fluid, .container, .row, .col {
  padding: 0;
  margin: 0;
}

/* ALMA blue definition */
.almacolor {
  background: #25386f;
  background: linear-gradient(to bottom, #25386f 0%, #0f4f87 100%);
}

/* Add some space between image and text when Font Awesome icons are used together with text labels  */
i.has-text {
  padding: 0 2px 0 0;
}

/* Radio buttons */
label.btn {
  padding: 0 16px 0 0;
}

/* Checkboxes */
label.checkbox {
  padding: 0 16px 0 0;
}

/* Dropdown */
.dropdown-toggle {
  /*padding: 0;*/
  border: 1px solid #ced4da;
}

/* Tooltips should be black on light gray */
.bs-tooltip-top .arrow::before {
  border-top-color: #f1f1f1;
}
.bs-tooltip-right .arrow::before {
  border-right-color: #f1f1f1;
}
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #f1f1f1;
}
.bs-tooltip-left .arrow::before {
  border-left-color: #f1f1f1;
}
.tooltip-inner, arrow {
  background-color: #f1f1f1;
  color: #000000;
}

/* Forms */
form {
  padding: 24px;
}

.form-header {
  font-size: 20px;
  font-weight: bold;
  padding: 24px 24px;
  border-bottom: 1px solid rgba(34,36,38,.15)
}

form div.field > label:first-child {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
