<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm" type="button" (click)="openWsltModalsearchForm()"
                    ngbPopover="Click here for the Web Shift Log Tool query form"
                    triggers="mouseenter:mouseleave"
                    placement="bottom-left"
                    popoverClass="tooltip-default bottom">
                <i class="fas fa-search has-text"></i>
                WebSLT query
            </button>
        </div>
        <div class="col-sm-10">
            <!--
            The tooltip for this alert is implemented with *ngbPopover*
            To activate/deactivate an ngbPopover with a mouse click remove from the containing element:
                triggers="mouseenter:mouseleave"
            -->
            <ngb-alert *ngIf="isVisibleWarning" type="warning" (close)="isVisibleWarning=false" class="alert-lg"
                       ngbPopover="(Tooltip implemented with ngbPopover, placed 'bottom-left') This alert can be dismissed by clicking on the x button"
                       triggers="mouseenter:mouseleave"
                       placement="bottom-left"
                       popoverClass="tooltip-default bottom">
                <i class="fas fa-exclamation-triangle has-text"></i>
                Dismissable warning alert
            </ngb-alert>

            <!--
            The tooltip for this alert is implemented with *ngbTooltip*
            To activate/deactivate an ngbPopup with a mouse click add to the containing element:
                triggers="click:blur"
            -->
            <ngb-alert *ngIf="isVisibleInfo" type="info" (close)="isVisibleInfo=false" class="alert-lg"
                       ngbTooltip="(Tooltip implemented with ngbTooltip, placed left) This alert can be dismissed by clicking on the x button"
                       placement="left">
                <i class="fas fa-info-circle has-text"></i>
                Dismissable info alert
            </ngb-alert>

            <ngb-alert type="danger" class="alert-sm" [dismissible]="false"
                   ngbPopover="Alert type 'danger' is for error messages"
                   triggers="mouseenter:mouseleave"
                   placement="bottom"
                   popoverClass="tooltip-error bottom">
                 <i class="fas fa-exclamation-triangle has-text"></i> danger
            </ngb-alert>

            <ngb-alert class="alert-sm" type="primary" [dismissible]="false">
                 <i class="fas fa-info-circle has-text"></i> primary
            </ngb-alert>

            <ngb-alert class="alert-sm" type="secondary" [dismissible]="false">
                <i class="fas fa-info-circle has-text"></i> secondary
            </ngb-alert>

            <ngb-alert class="alert-sm" type="success" [dismissible]="false">
                 <i class="fas fa-exclamation-circle has-text"></i> success
            </ngb-alert>

            <ngb-alert class="alert-sm" type="warning" [dismissible]="false">
                 <i class="fas fa-exclamation-triangle has-text"></i> warning
            </ngb-alert>

            <ngb-alert class="alert-sm" type="info" [dismissible]="false">
                <i class="fas fa-info-circle has-text"></i> info
            </ngb-alert>

            <ngb-alert class="alert-sm" type="light" [dismissible]="false">
                <i class="fas fa-exclamation-circle has-text"></i> light
            </ngb-alert>

            <ngb-alert class="alert-sm" type="dark" [dismissible]="false">
                <i class="fas fa-exclamation-circle has-text"></i> dark
            </ngb-alert>

        </div>
    </div>
</div>

<!--<wslt-search-form></wslt-search-form>-->
