<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary" type="button" (click)="openWsltModalsearchForm()">
                <i class="fas fa-search has-text"></i>
                WebSLT search
            </button>
        </div>
        <div class="col-sm-10">
            <div>
                <!--
                To activate/deactivate an ngbPopover with a mouse click remove from the containing element:
                    triggers="mouseenter:mouseleave"
                -->
                <ngb-alert *ngIf="isVisibleWarning" type="warning" (close)="isVisibleWarning=false"
                           ngbPopover="This alert can be dismissed by clicking on the x button"
                           triggers="mouseenter:mouseleave"
                           placement="bottom"
                           popoverClass="tooltip-default bottom">
                    alert-warning (dismissable) <i class="fas fa-exclamation-triangle has-text"></i>
                </ngb-alert>
                <!--
                To activate/deactivate an ngbPopup with a mouse click add to the containing element:
                    triggers="click:blur"
                -->
                <ngb-alert *ngIf="isVisibleInfo" type="info" (close)="isVisibleInfo=false"
                           ngbTooltip="This alert can be dismissed by clicking on the x button"
                           placement="left">
                    alert-info (dismissable) <i class="fas fa-info-circle has-text"></i>
                </ngb-alert>
            </div>
            <div>
                <label class="alert alert-danger" type="danger"
                       ngbPopover="This alert class (alert-danger) is for error messages"
                       triggers="mouseenter:mouseleave"
                       placement="bottom"
                       popoverClass="tooltip-error bottom">
                    alert-danger <i class="fas fa-exclamation-triangle has-text"></i>
                </label>
                <label class="alert alert-primary" role="alert">
                    alert-primary <i class="fas fa-info-circle has-text"></i>
                </label>
                <label class="alert alert-secondary" role="alert">
                    alert-secondary <i class="fas fa-info-circle has-text"></i>
                </label>
                <label class="alert alert-success" role="alert">
                    alert-success <i class="fas fa-exclamation-circle has-text"></i>
                </label>
                <label class="alert alert-warning" role="alert">
                    alert-warning <i class="fas fa-exclamation-triangle has-text"></i>
                </label>
                <label class="alert alert-info" role="alert">
                    alert-info <i class="fas fa-info-circle has-text"></i>
                </label>
                <label class="alert alert-light" role="alert">
                    alert-light <i class="fas fa-exclamation-circle has-text"></i>
                </label>
                <label class="alert alert-dark" role="alert">
                    alert-dark <i class="fas fa-exclamation-circle has-text"></i>
                </label>
            </div>
        </div>
    </div>
</div>

<wslt-search-form></wslt-search-form>
