<div class="modal-header">
    <h5> <i class="fas fa-upload has-text"></i> Import Target List </h5>
    <button *ngIf="!complete" class="btn close" type="button" (click)="activeModal.dismiss((progress))">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    Importing...<br>
    <ngb-progressbar type="secondary" showValue="true" [value]="(progress)"></ngb-progressbar>

</div>
<div class="modal-footer">
    <button *ngIf="complete" class="btn btn-primary btn-sm" type="submit" (click)="activeModal.close()">
        <i class="fas fa-check has-text"></i> Ok
    </button>
    <button *ngIf="!complete" class="btn btn-secondary btn-sm" (click)="activeModal.dismiss((progress))">
        Cancel
    </button>
</div>
